@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato&family=Lobster&family=Poppins:wght@300&family=Roboto&display=swap');

*{
  font-family: aldrich;
  max-width: 700px;
  margin: auto;
  background-color: rgb(231, 187, 77);

}


.App {
  text-align: center;
}

.App-header {
  padding: 1px;
  /* height: 40px; */
  background-color:#333;
  font-size: 60px;
  color: white;

}

.App-main {
  padding: 20px;

}

.page{
  height: 100vh;
  margin: 20px;
}

.repo-heading{
  margin: 30px;
  font-weight: bold;
}

input{
  background-color: white;
  padding: 10px;
}

button{
  display: block;
  padding: 10px;
  margin-top: 20px;
}

button:hover{
  background-color: silver;
}

h3, .repo-details-container{
  margin: 15px;
}

hr{
  background-color: black;
  margin: 20px;
}

.repo-details-container{
  font-weight: bold;
  border: 1px dashed gray;
}

.details-row{
  margin: 10px;
  text-align: left;
}

.details-row .value{
  float:right;
}

.repo-name{
  border: 2px solid grey;
  padding: 25px;
}
